---
layout: layout.liquid
title: A podcast about bad UI & UX
---

{% include blocks/hero.liquid %}
<main id="main" class="flex-fill">
{% include blocks/cta_bar.liquid %}
{% include blocks/episodes_home.liquid %}
{% include blocks/explained.liquid %}
{% include blocks/shop.liquid %}
{% include blocks/videos.liquid %}
{% include blocks/contact.liquid %}
</main>
{% include blocks/footer.liquid %}