---
layout: layout.liquid
title: A podcast about bad UI &amp; UX
description: "On the Unusable podcast we discuss the importance of user experience (UX) in technology &amp; the world around us, &amp; talk about great design that just works - or moan about it when it doesn't."
changeFreq: "daily"
---

{% include blocks/hero.liquid %}
<main id="main" class="flex-fill">
{% include blocks/cta_bar.liquid %}
{% include blocks/episodes_home.liquid %}
{% include blocks/quotes.liquid %}
{% include blocks/explained.liquid %}
{% include blocks/shop.liquid %}
{% include blocks/videos.liquid %}
{% include blocks/contact.liquid %}
</main>
{% include blocks/footer.liquid %}