---
layout: shop.liquid
title: Unusable Podcast shop
---
{% include blocks/header.liquid, dark: true, subtitle: "Support our podcast & look cool at the same time! These are our Unusable t-shirts, sweaters and fanny packs." %}
<main id="main" class="flex-fill">
    <div class="container">
        <div id="myShop">
            <a href="https://shop.spreadshirt.co.uk/unusable-podcast">unusable-podcast</a>
        </div>
    </div>

    <script>
        var spread_shop_config = {
            shopName: 'unusable-podcast',
            locale: 'en_GB',
            prefix: 'https://shop.spreadshirt.co.uk',
            baseId: 'myShop'
        };
    </script>

    <script type="text/javascript"
            src="https://shop.spreadshirt.co.uk/shopfiles/shopclient/shopclient.nocache.js">
    </script>
</main>
{% include blocks/footer.liquid %}