body {
    font-family: 'Didact Gothic', sans-serif;
    background-color: #39424E;
    color: #fff;
}

#sprd-main .sprd-product-list-item__sizes {
    background: transparent;
}

#sprd-main .sprd-listpage {
    margin-bottom: 0;
    padding-bottom: 0;
}

#buttonSpreadshirt {
    display: none;
}

.sprd__headline {
    display: none;
}

#sprd-main .sprd-product-list-item--hover {
    border: none;
    background-color: rgba(0,0,0,0.1);
}

#sprd-main .sprd-bg-m1 {
    background-color: #39424E;
    color: #fff;
}

#sprd-main .sprd-navigation {
    display: none;
}

#sprd-main .sprd-header__image {
    margin-bottom: 45px;
}

#sprd-main .sprd-info-footer  {
    padding-top: 40px;
}

#sprd-main .sprd-social-bar__link {
    color: #fff;
}

@media screen and (min-width: 1000px) {
    #sprd-main .sprd-header__image:after {
        background-image: url("/shop/shop-logo.png");
        background-size: contain;
        background-repeat: no-repeat;
        height: 100px;
        width: 400px;
        display: block;
        content: "";
        margin: 0 auto;
    }
}

.sprd-header__burgerbutton__bar.sprd-bg-s3 {
    background-color: #fff;
}

#sprd-main .sprd-header__image img {
    display: none;
}

#sprd-main .sprd-burgermenu__title img {
    display: none;
}

#sprd-main .sprd-burgermenu__title:after {
    background-image: url("/shop/shop-logo.png");
    background-size: contain;
    background-repeat: no-repeat;
    width: 100%;
    height: 50px;
    display: block;
    content: "";
    margin: 0 auto;
}

.sprd-detail-columns {
    display: none !important;
}
