<!DOCTYPE html>
<html lang="en">
<head>
    {% include schema/podcast.liquid %}
    {% include blocks/head.liquid %}
</head>
    <body class="d-flex flex-column">
        {{ content }}
    </body>
</html>