<!DOCTYPE html>
<html lang="en">
<head>
    {% include schema/episode.liquid %}
    {% include schema/org.liquid %}
    {% include schema/podcast.liquid %}
    {% include blocks/head.liquid %}
</head>
<body class="d-flex flex-column">
    {% assign episodeNumber = "Episode " | append: number  %}
    {% assign image = "podcasts/" | append:number | append:".jpg" %}
    {% include blocks/header.liquid, dark: true, subtitle: episodeNumber, image: image, podcastDate: date  %}
    {% include blocks/cta_bar.liquid, cta-title: "Listen now" %}
    <main id="main" class="flex-fill">
        {% include blocks/podcast.liquid %}
    </main>
    {% include blocks/footer.liquid %}
</body>
</html>