.logo {
    width: 15rem;
    height: auto;
    margin-bottom: 2rem;
}

.podcast-badges {
    padding-top: 2rem;
}

.podcast-badges a {
    border-bottom: none;
    margin-right: 1rem;
    margin-bottom: 0.5rem;
    display: inline-block;
}

.podcast-badges a img {
    height: 28px;
    width: auto;
}

.video {
    margin-bottom: 3rem !important;
    height: 0 !important;
    padding-bottom: 56.25%;
    overflow: hidden;
    position: relative;
}

.video iframe {
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
}