<!-- START OUR LATEST EPISODES -->
<div class="podcast-episodes unusable__block">
    <div class="container">
        <div class="row">
            <h2 class="sr-only">All episodes</h2>
            {% assign podcasts = collections.podcast %}
            {% for podcast in podcasts %}
                <div class="col-md-4">
                    {% include components/episode.liquid with podcast %}
                </div>
            {% endfor %}
        </div>
    </div>
</div>
<!-- END OUR LATEST EPISODES -->