<!-- START UNUSABLE EXPLAINED -->
<div class="podcast-explained unusable__block unusable__dark">
    <div class="container">
        <div class="row">
            <div class="col-md-12 text-center">
                <h2 class="unusable__highlight-text">Unusable explained</h2>
            </div>
        </div>
        <div class="row align-items-center">
            <div class="col-lg-5 d-none d-lg-block">
                <ul class="podcast-explained__nav">
                    <li>
                        <a href="#what-is-usability">What is usability?</a>
                    </li>
                    <li>
                        <a href="#what-is-ux">What is UX?</a>
                    </li>
                    <li>
                        <a href="#why-should-i-care">Why should I care?</a>
                    </li>
                    <li>
                        <a href="#who-are-unusable-podcast">Who are you guys?</a>
                    </li>
                </ul>
            </div>
            <div class="col-lg-7">
                <div class="explanation-card" id="what-is-usability">
                    <h3 class="explanation-card__title d-none d-block d-lg-none">What is usability?</h3>
                    <blockquote cite="https://www.interaction-design.org/literature/topics/usability">
                        Usability is a measure of how well a specific user in a specific context can use a product/design to achieve a defined goal effectively, efficiently and satisfactorily.
                    </blockquote>
                    <p class="explanation-card__quote-source">
                        - <a href="https://www.interaction-design.org/literature/topics/usability">Interaction Design Foundation</a>
                    </p>
                </div>
                <div class="explanation-card d-none d-block d-lg-none" id="what-is-ux">
                    <h3 class="explanation-card__title d-none d-block d-lg-none">What is UX?</h3>
                    <blockquote cite="https://www.interaction-design.org/literature/topics/usability">
                        Usability is a measure of how well a specific user in a specific context can use a product/design to achieve a defined goal effectively, efficiently and satisfactorily.
                    </blockquote>
                    <p class="explanation-card__quote-source">
                        - <a href="https://www.interaction-design.org/literature/topics/usability">Interaction Design Foundation</a>
                    </p>
                </div>
                <div class="explanation-card d-none d-block d-lg-none" id="why-should-i-care">
                    <h3 class="explanation-card__title d-none d-block d-lg-none">What is usability?</h3>
                    <blockquote cite="https://www.interaction-design.org/literature/topics/usability">
                        Usability is a measure of how well a specific user in a specific context can use a product/design to achieve a defined goal effectively, efficiently and satisfactorily.
                    </blockquote>
                    <p class="explanation-card__quote-source">
                        - <a href="https://www.interaction-design.org/literature/topics/usability">Interaction Design Foundation</a>
                    </p>
                </div>
                <div class="explanation-card d-none d-block d-lg-none" id="who-are-unusable-podcast">
                    <h3 class="explanation-card__title d-none d-block d-lg-none">What is usability?</h3>
                    <blockquote cite="https://www.interaction-design.org/literature/topics/usability">
                        Usability is a measure of how well a specific user in a specific context can use a product/design to achieve a defined goal effectively, efficiently and satisfactorily.
                    </blockquote>
                    <p class="explanation-card__quote-source">
                        - <a href="https://www.interaction-design.org/literature/topics/usability">Interaction Design Foundation</a>
                    </p>
                </div>
            </div>
        </div>
    </div>
</div>
<!-- END UNUSABLE EXPLAINED -->