<header class="unusable__hero">
    <div class="container">
        {% include blocks/nav.liquid %}
        <div class="row hero align-items-end">
            <div class="col-lg-5">
                <div class="hero__title">
                    <h1>A podcast about bad <span class="unusable__underline">UI &amp; UX</span></h1>
                    <p>We discuss the importance of user experience in technology and the world around us, and talk about great design that just works - or moan about it when it doesn't.</p>
                </div>
            </div>
            <div class="col-lg-7">
                {% image "images/david-andrew.png", "Podcast hosts David and Andrew sitting on a green sofa. Andrew is looking at David, who has an expression of disgust.", "hero__image" %}
            </div>
        </div>
    </div>
</header>