<div class="container podcast-article unusable__block">
    <div class="row">
        <div class="col-lg-6 mx-auto">

            {{ content }}
            <a href="#" class="btn btn-secondary">Download episode {{ number }} as MP3</a>
        </div>
    </div>
</div>
<div class="container podcast-article unusable__block">
    <div class="row">
        <div class="col-lg-6 mx-auto">
            <p>{{ metadata.description }}</p>
            <p>Music is by <a href="https://gold5472.newgrounds.com/">Gold5472</a></p>
        </div>
    </div>
</div>
