<!-- START QUOTE BLOCK -->
<div class="podcast-quotes unusable__block unusable__highlight">
    <div class="container">
        <div class="row">
            <div class="col-md-12 text-center">
                <h2>What are people saying about The Unusable Podcast?</h2>
            </div>
        </div>
        <div class="row align-items-end">
            <div class="col-md-4">
                <blockquote>
                    Thank you for having the most entertaining and enlightening podcast in UX. I absolutely love you guys! ❤
                </blockquote>
            </div>
            <div class="col-md-4">
                <blockquote>
                    Seriously, if you haven't listened to <a href="{{ socials.twitter.url }}">@UnusablePodcast</a> yet, my only question is.... WHY?!
                </blockquote>
            </div>
            <div class="col-md-4">
                <blockquote>
                    I'd forgotten how rewarding it was to find a new show that I instantly enjoyed so much
                </blockquote>
            </div>
        </div>
    </div>
</div>
<!-- END QUOTE BLOCK -->