<!-- UNUSABLE SHOP -->
<div class="podcast-shop unusable__block">
    <div class="container">
        <div class="row">
            <div class="col-md-12 text-center">
                <h2>The <span class="unusable__underline">Unusable Shop</span> is open for business</h2>
                <p>So you want to look cool and support our podcast? Buy totally rad fashions the Unusable Shop and send us a picture!</p>
                <p>
                    {% include components/primary_button.liquid, link: "/shop", label: "Browse our shop" %}
                    {% assign mailLink = "mailto:" | append: metadata.email %}
                    {% include components/secondary_button.liquid, link: mailLink, label: "Send us a picture" %}
                </p>
            </div>
        </div>
        <div class="row podcast-shop__gallery">
            <div class="col-3 podcast-shop__gallery__col">
                <a href="/shop/#!/unusable+podcast-A5e8b914d5fd3e441f1f828bc?productType=813&sellable=rAk1YZ2XZdcJLMpNoA5V-813-8&appearance=2">
                    {% image "images/shop-0.png", "Unusable Podcast listener smiling wearing a dark blue Unusable Podcast t-shirt", "", 300 %}
                </a>
            </div>
            <div class="col-3 podcast-shop__gallery__col">
                <a href="/shop/#!/unusable+podcast-A5e88d8ba5fd3e47a8a0d71de?productType=812&sellable=Alxm2akb8xhYxqvRA94e-812-7&appearance=3">
                    {% image "images/shop-2.png", "Unusable Podcast listener smiling wearing a light blue Unusable Podcast t-shirt", "", 300 %}
                </a>
                <a href="/shop/#!/unusable+podcast-A5e88d8ba5fd3e47a8a0d71de?productType=1187&sellable=Alxm2akb8xhYxqvRA94e-1187-26&appearance=348">
                    {% image "images/shop-1.png", "Podcast host Andrew wearing a dark blue Unusable Podcast sweatshirt", "" %}
                </a>
            </div>
            <div class="col-3 podcast-shop__gallery__col">
                <a href="/shop/#!/unusable+podcast-A5e8b914d5fd3e441f1f828bc?productType=1388&sellable=rAk1YZ2XZdcJLMpNoA5V-1388-22&appearance=4">
                    {% image "images/shop-4.jpg", "An Unusable podcast listener wearing a dark blue Unusable Podcast shawl hoodie", "", 300 %}
                </a>
            </div>
            <div class="col-3 podcast-shop__gallery__col">
                <a href="/shop/#!/unusable+podcast-A5e8b914d5fd3e441f1f828bc?productType=812&sellable=rAk1YZ2XZdcJLMpNoA5V-812-7&appearance=2">
                    {% image "images/shop-3.jpg", "Podcast listener wearing a black Unusable Podcast t-shirt", "", 300 %}
                </a>
                <a href="/shop/#!/unusable+podcast-A5e8b914d5fd3e441f1f828bc?productType=949&sellable=rAk1YZ2XZdcJLMpNoA5V-949-32&appearance=2">
                    {% image "images/shop-5.png", "Two podcast listeners showing off their Unusable Podcast merchandise, including a t-shirt and mug", "", 300 %}
                </a>
            </div>
        </div>
    </div>
</div>
<!-- END UNUSABLE SHOP -->