<!-- START VIDEO CAROUSEL -->
<div class="unusable__block video-carousel">
    <div class="container">
        <div class="row">
            <div class="col-md-12 text-center">
                <h2>We also make <span class="unusable__underline">videos</span></h2>
            </div>
        </div>
        <div class="row">
            <div class="col-md-4">
                <iframe src="https://www.youtube-nocookie.com/embed/VBSDgFtSqO4" frameborder="0" allow="accelerometer; autoplay; clipboard-write; encrypted-media; gyroscope; picture-in-picture" allowfullscreen></iframe>
            </div>
            <div class="col-md-4">
                <iframe src="https://www.youtube-nocookie.com/embed/VBSDgFtSqO4" frameborder="0" allow="accelerometer; autoplay; clipboard-write; encrypted-media; gyroscope; picture-in-picture" allowfullscreen></iframe>
            </div>
            <div class="col-md-4">
                <iframe src="https://www.youtube-nocookie.com/embed/VBSDgFtSqO4" frameborder="0" allow="accelerometer; autoplay; clipboard-write; encrypted-media; gyroscope; picture-in-picture" allowfullscreen></iframe>
            </div>
        </div>
        <div class="row">
            <div class="col-md-12 text-center">
                <p>
                    {% include components/primary_button.liquid, link: socials.youtube.url, label: "Watch on YouTube" %}
                </p>
            </div>
        </div>
    </div>
</div>
<!-- END VIDEO CAROUSEL -->