@charset "UTF-8";
/**
 *
 * GENERIC
 *
 */
body {
  min-height: 100vh; }

a {
  color: #222840;
  text-decoration: underline; }
  a:hover {
    color: #FD9CB9;
    text-decoration: none; }

.flex-fill {
  flex: 1 1 auto; }

.unusable__highlight-text {
  color: #FD9CB9; }

.unusable__highlight {
  background-color: #FD9CB9; }
  .unusable__highlight a:hover {
    color: #FFF; }

.unusable__dark {
  background-color: #222840;
  color: #FFF; }
  .unusable__dark a {
    color: #FFF; }
    .unusable__dark a:hover {
      color: #FD9CB9; }

.unusable__underline {
  background: linear-gradient(0deg, rgba(255, 0, 0, 0) 14%, #FD9CB9 14%, #FD9CB9 30%, rgba(233, 233, 233, 0) 30%); }

.unsable__highlight {
  color: #FD9CB9; }

.unusable__block {
  padding: 90px 0; }
  .unusable__block h2 {
    padding: 0 0 60px; }

h1,
h2 {
  font-weight: 700; }

/**
BODY
 */
body {
  font-family: 'Montserrat', sans-serif;
  background-color: #F8F8F8;
  color: #222840; }

header .navbar {
  padding: 20px 0; }
  header .navbar .btn {
    margin-left: 20px; }
  header .navbar .nav-item .nav-link {
    padding: .5rem 1.3rem;
    color: #222840;
    text-decoration: none; }
    header .navbar .nav-item .nav-link:hover {
      text-decoration: underline; }

header .logo {
  width: 166px;
  height: auto; }

/**
ARTICLE HEADER
 */
.unusable__header {
  padding-bottom: 60px;
  background-repeat: no-repeat !important;
  background-size: cover !important;
  background-position: center; }
  .unusable__header h1 {
    color: #FD9CB9;
    margin: 30px 0; }
  .unusable__header p {
    font-size: 1rem;
    line-height: 1.8em; }
  .unusable__header.unusable__dark .navbar .nav-item .nav-link {
    color: #FFF; }

/**
HOME HERO
 */
@media (min-width: 992px) {
  .unusable__hero {
    background: linear-gradient(285deg, #FD9CB9 0%, #FD9CB9 52%, #F8F8F8 52%, #F8F8F8 100%); } }

.unusable__hero .hero .hero__title {
  padding: 60px 0; }
  .unusable__hero .hero .hero__title h1 {
    font-size: 2.7rem; }
  .unusable__hero .hero .hero__title p {
    padding: 20px 0;
    line-height: 1.8rem; }

.unusable__hero .hero .hero__image {
  width: 100%;
  height: auto; }

/**
SUBSCRIBE CTA
 */
.subscribe-cta .btn-secondary {
  width: 100%;
  margin: 18px 0; }

.subscribe-cta h2 {
  text-align: center;
  font-style: normal;
  font-weight: 700;
  font-size: 1rem;
  text-transform: uppercase;
  letter-spacing: 0.18rem;
  margin: 0;
  padding: 30px 0 0; }
  @media (min-width: 992px) {
    .subscribe-cta h2 {
      text-align: left;
      padding: 0; } }
  .subscribe-cta h2:after {
    content: "\27F6";
    margin-left: 10px;
    color: #FD9CB9; }

.subscribe-cta:hover h2 {
  animation-name: bounce-right;
  animation-duration: 1.5s;
  animation-iteration-count: infinite; }

@keyframes bounce-right {
  0% {
    transform: translateX(0); }
  10% {
    transform: translateX(20px); }
  20% {
    transform: translateX(0); }
  30% {
    transform: translateX(20px); }
  40% {
    transform: translateX(0); }
  100% {
    transform: translateX(0); } }

/**
PODCAST EXPLAINED
 */
.podcast-explained__nav {
  padding: 0;
  list-style: none;
  display: flex;
  flex-wrap: nowrap;
  justify-content: space-around;
  flex-direction: column;
  height: 100%; }
  .podcast-explained__nav li a {
    color: #FFF;
    font-size: 1.3rem;
    padding: 10px 0;
    display: block;
    text-decoration: none; }
    .podcast-explained__nav li a:hover {
      text-decoration: none;
      color: #FD9CB9;
      margin-left: 10px; }
      .podcast-explained__nav li a:hover:after {
        content: "\27F6";
        margin-left: 10px; }
    .podcast-explained__nav li a:active:after {
      content: "\27F6";
      margin-left: 10px;
      color: #FD9CB9; }

.podcast-explained .explanation-card {
  font-family: 'PT Serif', 'serif';
  background-color: #FFF;
  color: #222840;
  padding: 40px 75px;
  font-size: 1.3rem;
  box-shadow: 15px 15px 0 #FD9CB9;
  margin-bottom: 30px;
  text-align: justify; }
  .podcast-explained .explanation-card blockquote {
    line-height: 1.8em;
    font-style: italic; }
    .podcast-explained .explanation-card blockquote:before {
      content: "“"; }
    .podcast-explained .explanation-card blockquote:after {
      content: "”"; }

/**
PODCAST SHOP
 */
.podcast-shop h2 {
  padding-bottom: 20px; }

.podcast-shop .btn {
  margin-top: 20px; }

.podcast-shop__gallery__col {
  display: flex;
  justify-content: space-between;
  flex-direction: column; }
  .podcast-shop__gallery__col img {
    width: 100%;
    height: auto;
    border-radius: 5px; }

.podcast-shop__gallery {
  margin-top: 60px; }

/**
VIDEOS
 */
.video-carousel h2 {
  padding-bottom: 30px; }

.video-carousel .btn {
  margin-top: 30px; }

.video-carousel iframe {
  border-radius: 5px;
  width: 100%;
  height: 200px; }

/**
FOOTER
 */
footer {
  padding: 0 0 120px; }
  footer .subscribe-cta {
    margin-bottom: 90px; }
  footer h3 {
    font-style: normal;
    font-weight: 600;
    font-size: 0.8rem;
    text-transform: uppercase;
    letter-spacing: 0.18rem; }
  footer .footer-logo {
    width: 166px;
    height: auto; }
  footer ul {
    padding: 0; }
    footer ul li {
      list-style: none; }
      footer ul li a {
        color: #FFF;
        display: block;
        width: 50%;
        float: left;
        margin: 10px 0;
        text-decoration: none; }
        footer ul li a:hover {
          text-decoration: underline;
          color: #FD9CB9; }

/**
PODCAST ARTICLE
 */
/**
BUTTONS
 */
.btn {
  border-radius: 5px;
  text-transform: uppercase;
  font-weight: 600;
  letter-spacing: 0.05rem;
  font-size: 0.7rem;
  padding: 10px 20px;
  text-decoration: none; }

.btn-primary {
  border: 1px solid #222840;
  background-color: #222840;
  color: #FFF; }
  .btn-primary:focus {
    border: 1px solid #222840;
    background-color: #222840;
    color: #FD9CB9; }
  .btn-primary:hover {
    border: 1px solid #222840;
    background-color: #FD9CB9;
    color: #222840; }

.unusable__dark .btn-primary {
  background-color: #FD9CB9;
  color: #222840; }
  .unusable__dark .btn-primary:focus {
    border: 1px solid #FFF; }
  .unusable__dark .btn-primary:hover {
    background-color: #FFF; }

.unusable__dark .btn-secondary {
  border: 1px solid #FFF;
  color: #FFF; }
  .unusable__dark .btn-secondary:focus {
    border: 1px solid #FFF;
    color: #FD9CB9; }
  .unusable__dark .btn-secondary:hover {
    border: 1px solid #FD9CB9;
    background-color: #FD9CB9;
    color: #222840; }

.btn-secondary {
  background: transparent;
  border: 1px solid #222840;
  color: #222840; }
  .btn-secondary:focus {
    background: transparent;
    border: 1px solid #222840;
    color: #FD9CB9; }
  .btn-secondary:hover {
    background-color: #FD9CB9;
    color: #222840; }

/**
PODCAST CARD
 */
.podcast-card {
  display: flex;
  flex-wrap: nowrap;
  justify-content: space-around;
  flex-direction: column;
  margin-bottom: 30px;
  position: relative; }
  .podcast-card:hover {
    transform: scale(1.02);
    transition: .1s ease-out; }
  .podcast-card__link {
    position: absolute;
    display: block;
    left: 0;
    top: 0;
    width: 100%;
    height: 100%; }
  .podcast-card__title {
    order: 0;
    padding: 20px 0 5px;
    font-size: 1.2rem;
    min-height: 3.8em;
    display: block; }
  .podcast-card .image-wrapper {
    order: -1; }
    .podcast-card .image-wrapper img {
      width: 100%;
      height: 200px;
      border-radius: 5px;
      object-fit: cover;
      object-position: center; }
  .podcast-card__description {
    overflow: hidden;
    display: -webkit-box;
    -webkit-line-clamp: 5;
    -webkit-box-orient: vertical;
    line-height: 1.6em; }
  .podcast-card__episode-number {
    background-color: #FD9CB9;
    color: #FFF;
    padding: 2px 16px;
    letter-spacing: 0.05rem;
    display: block;
    position: absolute;
    top: 0;
    border-radius: 5px 0 5px 0; }
